<!DOCTYPE html>
<html>
  <head>
    <title>User Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Details</h1>
    <button onclick="window.location.href='/'">Back to List</button>
    <div>
      <h2>Employee Details</h2>
      <p><strong>Name:</strong> <%= user.NAME %></p>
      <p><strong>Last Name:</strong> <%= user.LAST_NAME %></p>
      <p><strong>Email:</strong> <%= user.EMAIL %></p>
      <p><strong>Gender:</strong> <%= user.PERSONAL_GENDER %></p>
    </div>
  </body>
</html>
